@import '../../variables.css';

.line{
  width : 100%;
  float: left;
  border-left: 1px solid #dedede;
  margin-top: 30px;
  padding-bottom: 30px;
  .layoutContent {
    margin-left: 15px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .layoutEvent {  
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;    
    display: inline-block;
    position: relative;
    .time{
        margin-bottom: 0px;
        margin-left: 15px;        
        width: 100px;
        display: inline-block;
        position: absolute;
        top:-3px;
      }
      .pin {
        width : 12px;
        height: 12px;
        border-radius: 50%;
        border-width: 2px;
        border-color: white;
        background-color: black;
        margin-left:-6px;        
        display: inline-block;
          position: absolute;
      }
    }
    .image {
      width: 95px;
      height: 95px;
      float: left;
      margin: 1px;
    }
}




