@import "../../theme/resources.scss";
.friend {
    display: flex;
    align-items: center;
    padding: 1em;
    .friendAvata {
        cursor: pointer;
        img {
            border-radius: 50%;
            width: 68px;
            height: 68px;
            vertical-align: middle;
        }
    }
    .friendInfo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 1em;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
            align-items: flex-start;
        }
        .friendName {
            display: flex;
            flex-direction: column;
            >span:first-child {
                font-weight: 500;
            }
        }
         :global .btn {
            font-weight: 500;
        }
         :global .btn-primary {
            background: #283e4a;
            &:hover {
                background: #312d4c;
            }
        }
    }
    .addFriend {
        width: 100%;
         :global .fa {
            padding-right: 0.2em;
        }
         :global .btn {
            background: #f1f8fc;
            color: #4c4c4c;
            &:hover {
                background: white;
            }
        }
    }
}

.friendListHide {
    border: 0px solid #dedede;
}

.friendList {
    font-family: 'Roboto';
    margin-top: 3em;
    background: white;
    border: 1px solid #dedede;
    >h4 {
        padding: 0.5em 0 0 1em;
        font-size: 14px;
    }
    >ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            border-bottom: 1px solid #dedede;
        }
        li:last-child {
            border-bottom: none;
        }
    }
}