<div class="wrapper">
  <div class="header">SNS Account Rejected</div>
  <div class="content">
    <div>Dear <%= email.data.username %>,</div>

    <div>Thank you for signing up for <a href="http://sns.mttjsc.com">SNS social</a>!</div>

    <div>Please verify information and contact Building Management because your account has been rejected.</div></br>

    <div>Thank you!</div>
  </div>
  <div class="footer">SNS Team</div>
</div>
