<div class="wrapper">
  <div class="header">Kích hoạt tài khoản thành công</div>
  <div class="content">
    <div><%= email.data.username %> thân mến!</div>

    <div>Cảm ơn bạn đã đăng kí và sử dụng <a href="http://sns.mttjsc.com">
      <strong>Mạng xã hội chung cư - SNS</strong></a>!
    </div>

    <div>Bạn đã kích hoạt tài khoản thành công.</div></br>

    <div>Vui lòng click chọn "Đăng nhập" để tiếp tục sử dụng dịch vụ.</div></br>

    <div><a class="btn-redirect" href="http://sns.mttjsc.com/login">Đăng nhập</a></div></br>

    <div>Trân trọng!</div>
  </div>
  <div class="footer">SNS Team</div>
</div>
