<div class="wrapper">
  <div class="header">SNS Account Change Password</div>
  <div class="content">
    <div>Dear <%= email.data.username %>,</div>

    <div>Thank you for signing up for <a href="http://<%= email.data.host %>">SNS social</a>!</div>

    <div>Your password has been changed!</div></br>

    <div><a class="btn-active" href="http://<%= email.data.host %>/login">Go SNS</a></div></br>

    <div>Thank you!</div>
  </div>
  <div class="footer">SNS Team</div>
</div>
