<div class="wrapper">
  <div class="header">SNS Account Confirm</div>
  <div class="content">
    <div>Dear <%= email.data.username %>,</div>

    <div>Thank you for signing up for <a href="http://sns.mttjsc.com">SNS social</a>!</div>

    <div>Please verify your Email address by clicking the button below.</div></br>

    <div><a class="btn-active" href="http://sns.mttjsc.com/active/<%= email.data.username %>">Confirm your account</a></div></br>

    <div>Thank you!</div>
  </div>
  <div class="footer">SNS Team</div>
</div>
