@import "../../theme/resources.scss";
.root {
  background: white;
  width: 100%;
  flex: 1;
  .fullHeight {
    height: 100%;
  }
}
:global #app {
  height: 100vh;
  >div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
:global .hiddenMobile {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}