@import '../../components/variables.css';
.container>div {
    margin: 10px;
}
.margintop30 {
    margin-top: 30px;
}
.feedsContent {
    float: left;
    width: 100%;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    margin-bottom: 15px;
     position: relative;
}

.root {
    padding-left: 20px;
    padding-right: 20px;
}
.avartar {
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 300px;
    color: white;
}
.textInline {
     margin-left: 10px;
    display: inline-block;
}
.textInline:first-child {
    margin-left: 0px;
}
.image {
    float: left;
    width: 99%;
    padding: 5px;
    margin: 5px;
}

.infors {
    margin-left : 20px;
    border-width: 1px;
    border-collapse: 1px;
}
.infor {
    margin-left : 1px;
}
.infor  > *{
     width : 100px;
    height : 100px;
    text-align: left;
    background-color: transparent;
}
.userName{
    position: absolute;
    z-index: 2;
    left: 80px;
     bottom: -10px;
     width: 200px;
}



.container {
   
     margin: 0 auto ;
     padding: 0 0 10px;
    max-width: var(--max-content-width);
}