@import '../../components/variables.css';
.container>div {
    margin: 10px;
}
.margintop30 {
   border-width: 0px;
  // border: 
}
.feedsContent {
    float: left;
    width: 100%;
   // border: 1px solid #cfcfcf;
    background-color: #fff;
    margin-bottom: 15px;
     position: relative;
}
.topLayout {
    width: 100%;
    position: relative;
    display: inline-block;
}
.root {
    padding-left: 20px;
    padding-right: 20px;
}
.avartar {
   
    width: 100px;
    height: 100px;
    color: white;
    border-radius: 50%;
}
.textInline {
     margin-left: 10px;
    display: inline-block;
}
.textInline:first-child {
    margin-left: 0px;
}
.image {
    float: left;
    width: 100%;
    
}

.infors {    
    border-width: 1px;
    width: 100%;
    display: inline-block;
}
.infor {
    margin-left : 1px;
}
.infor  > *{
     width : 100px;
    height : 100px;
    text-align: left;
    background-color: transparent;
}
.userName{
    display: inline-flex;
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom:20px;
    h1 {
        padding-left: 10px;      
        color: white;
        margin: 0px;
        line-height: 100px;
    }
}



.container {
   
     margin: 0 auto ;
     padding: 0 0 10px;
    max-width: var(--max-content-width);
}
@media(max-width:767px) {
   .userName{    
        h1{
        font-size: 18px;
        line-height: 50px;
        }
    }
    .avartar {   
        width: 50px;
        height: 50px;
    } 
}