<div class="wrapper">
  <div class="header">Xác nhận đăng kí tài khoản</div>
  <div class="content">
    <div><%= email.data.username %> thân mến,</div>

    <div>Cảm ơn bạn đã đăng kí sử dụng dịch vụ của <a href="http://sns.mttjsc.com">Mạng xã hội Chung cư - SNS</a>!</div>

    <div>Để hoàn tất đăng kí, xin vui lòng click chọn nút bên dưới xác nhận địa chỉ mail bạn đã đăng kí.</div></br>

    <div><a class="btn-active" href="http://sns.mttjsc.com/active/<%= email.data.username %>">Xác nhận tài khoản</a></div></br>

    <div>Trân trọng!</div>
  </div>
  <div class="footer">SNS Team</div>
</div>
