{
  "rules": {
    "new-cap": 0,
    "no-console": "warn",
    "no-param-reassign": 0,
    "no-plusplus": "off",
    "react/self-closing-comp": "off",
    "jsx-a11y/href-no-hash": "off",
    "css-modules/no-unused-class": "off",
    "no-bitwise": ["error", { "allow": ["~"] }],
    "no-underscore-dangle": "off",
    "no-unused-expressions": ["error", { "allowTernary": true }]
    // "max-len": "off"
  }
}
